<?xml version="1.0"?>
<robot name="nana_v4" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Shared Properties -->
  <xacro:property name="mesh_path" value="package://nana_v4_description/meshes/nana_v4"/>


  <!-- Include Sub-component Xacro Files -->
  <xacro:include filename="$(find nana_v4_description)/models/nana_v4/urdf/nana_mobility/nana_mobility.xacro"/>
  <xacro:include filename="$(find nana_v4_description)/models/nana_v4/urdf/nana_body/nana_body.xacro"/>
  <xacro:include filename="$(find nana_v4_description)/models/nana_v4/urdf/nana_head/nana_head.xacro"/>
  <xacro:include filename="$(find nana_v4_description)/models/nana_v4/urdf/nana_arm/nana_arm.xacro"/>
  <xacro:include filename="$(find nana_v4_description)/models/nana_v4/urdf/nana_hand/nana_hand_v2.xacro"/>

  <!-- Global Materials -->
  <material name="grey">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>

  <!-- World Frame -->
  <link name="world"/>


  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- 1. Mobility Component (Creates base_link) -->
  <xacro:nana_mobility mesh_path="${mesh_path}"/>

  <!-- 2. Body Component (Attaches to base_link and creates lower_body & upper_body) -->
  <xacro:nana_body mesh_path="${mesh_path}" parent_link="base_link"/>

  <!-- 3. Head Component (Attaches to upper_body) -->
  <xacro:nana_head mesh_path="${mesh_path}" parent_link="upper_body"/>

  <!-- 4. Left Arm Component (Attaches to upper_body) -->
  <xacro:nana_arm prefix="left_arm_" parent="upper_body" side="left" description_pkg="nana_v4_description">
    <origin xyz="-0.0502338 0.076047 0.2857704" rpy="-0.2967061 0 0"/>
  </xacro:nana_arm>

  <!-- 5. Right Arm Component (Mirrored, Attaches to upper_body) -->
  <xacro:nana_arm prefix="right_arm_" parent="upper_body" side="right" description_pkg="nana_v4_description">
    <origin xyz="-0.0502338 -0.076047 0.2857704" rpy="0.2967061 0 0"/>
  </xacro:nana_arm>

  <!-- 6. Left Hand Component (Attaches to left_arm_link7) -->
  <xacro:nana_hand_v2 prefix="left_hand_" parent="left_arm_link7" side="left" description_pkg="nana_v4_description">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:nana_hand_v2>

  <!-- 7. Right Hand Component (Mirrored, Attaches to right_arm_link7) -->
  <xacro:nana_hand_v2 prefix="right_hand_" parent="right_arm_link7" side="right" description_pkg="nana_v4_description">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:nana_hand_v2>

</robot>
