<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Global 속성 정의 -->
    <!-- ================================================================================================ -->
    <xacro:property name="waist_yaw_min" value="-10.0"/>
    <xacro:property name="waist_yaw_max" value="25.0"/>
    <xacro:property name="waist_pitch_min" value="-85.0"/>
    <xacro:property name="waist_pitch_max" value="85.0"/>

    <!-- Macro 요소 정의 -->
    <!-- ================================================================================================ -->
    <xacro:macro name="nana_body" params="mesh_path parent_link">

        <joint name="base_link_to_lower_body_joint" type="fixed">
            <origin xyz="0.0254 0.0012601 0.5039396" rpy="0. 0. 0."/>
            <parent link="${parent_link}"/>
            <child link="lower_body"/>
        </joint>

        <link name="lower_body">
            <visual>
                <origin xyz="-0.0000007 -0.0000045 0.3316077" rpy="1.5707963 0.0108393 -3.1415925"/>
                <geometry>
                    <mesh filename="${mesh_path}/visual/lower_body_mesh.obj" scale="1. 1. 1."/>
                </geometry>
                <material name="grey"/>
            </visual>
            <collision>
                <origin xyz="-0.0000007 -0.0000045 0.3316077" rpy="1.5707963 0.0108393 -3.1415925"/>
                <geometry>
                    <mesh filename="${mesh_path}/collision/lower_body_mesh_collision.stl" scale="1. 1. 1."/>
                </geometry>
            </collision>
            <inertial>
                <!-- <origin xyz="-0.01473 0.78461 0.29208" rpy="0 0 0"/> -->
                <mass value="9.48382"/>
                <inertia ixx="0.16287801" ixy="-0.00175151" ixz="0.00001634" iyy="0.03524281" iyz="-0.01166454" izz="0.16899149" />
            </inertial>
        </link>

        <joint name="waist_yaw_joint" type="revolute">
            <origin xyz="0.0227538 0.0002386 0.40942" rpy="0 0 0"/>
            <parent link="lower_body"/>
            <child link="waist_virtual_link"/>
            <axis xyz="0 0 1"/>
            <limit lower="${radians(waist_yaw_min)}" upper="${radians(waist_yaw_max)}" effort="100" velocity="1.0"/>
            <dynamics damping="10.0" friction="1.0"/>
        </joint>

        <link name="waist_virtual_link">
            <inertial>
                <mass value="0.1"/>
                <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
            </inertial>
        </link>

        <joint name="waist_pitch_joint" type="revolute">
            <origin xyz="0 0 0" rpy="0 0 0"/> 
            <parent link="waist_virtual_link"/>
            <child link="upper_body"/>
            <axis xyz="0 1 0"/>
            <limit lower="${radians(waist_pitch_min)}" upper="${radians(waist_pitch_max)}" effort="100" velocity="1.0"/>
            <dynamics damping="10.0" friction="1.0"/>
        </joint>

        <link name="upper_body">
            <visual>
                <origin xyz="-0.050239 -0.102178 0.2924128" rpy="1.8849555 -0.0108394 0. "/>
                <geometry>
                    <mesh filename="${mesh_path}/visual/upper_body_mesh.obj" scale="1. 1. 1."/>
                </geometry>
                <material name="grey"/>
            </visual>
            <collision>
                <origin xyz="-0.050239 -0.102178 0.2924128" rpy="1.8849555 -0.0108394 0. "/>
                <geometry>
                    <mesh filename="${mesh_path}/collision/upper_body_mesh_collision.stl" scale="1. 1. 1."/>
                </geometry>
            </collision>
            <inertial>
                <!-- <origin xyz="-0.00010 -0.00404 0.15380" rpy="0 0 0"/> -->
                <mass value="3.19435"/>
                <inertia ixx="0.03959135" ixy="0.00001746" ixz="-0.00000962" iyy="0.03080467" iyz="-0.00455260" izz="0.04519947" />
            </inertial>
        </link>

    </xacro:macro>


</robot>
