[right_pinky wiggle]
id=1
left=950
right=980

[right_pinky curl]
id=2
out=980
in=500

[right_ring wiggle]
id=3
left=980
right=1000

[right_ring curl]
id=4
out=980
in=500

[right_middle wiggle]
id=5
left=0
right=30

[right_middle curl]
id=6
out=980
in=500

[right_index wiggle]
id=7
left=0
right=60

[right_index curl]
id=8
out=30
in=500

[right_thumb wiggle]
id=9
left=150
right=100

[right_thumb curl]
id=10
out=130
in=420

[left_pinky wiggle]
id=11
left=900
right=940

[left_pinky curl]
id=12
out=450
in=900

[left_ring wiggle]
id=13
left=890
right=930

[left_ring curl]
id=14
out=250
in=800

[left_middle wiggle]
id=15
left=790
right=830

[left_middle curl]
id=16
out=400
in=950

[left_index wiggle]
id=17
left=780
right=820

[left_index curl]
id=18
out=700
in=100

[left_thumb wiggle]
id=19
left=850
right=890

[left_thumb curl]
id=20
out=1000
in=700
