<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Global 속성 정의 -->
    <!-- ================================================================================================ -->


    <!-- Macro 요소 정의 -->
    <!-- ================================================================================================ -->
    <xacro:macro name="nana_mobility" params="mesh_path">
    
        <link name="base_link">
            <visual>
                <origin xyz="-0.1195612 0.2357201 0.0405624" rpy="1.5707963 0.0108393 -3.1415925"/>
                <geometry>
                    <mesh filename="${mesh_path}/visual/mobility_mesh.obj" scale="1. 1. 1."/>
                </geometry>
                <material name="grey"/>
            </visual>
            <collision>
                <origin xyz="-0.1195612 0.2357201 0.0405624" rpy="1.5707963 0.0108393 -3.1415925"/>
                <geometry>
                    <mesh filename="${mesh_path}/collision/mobility_mesh_collision.stl" scale="1. 1. 1."/>
                </geometry>
            </collision>
            <inertial>
                <!-- <origin xyz="-0.01354 0.09871 0.38485" rpy="0 0 0"/> -->
                <mass value="30.24570"/>
                <inertia ixx="1.01774443" ixy="0.00089976" ixz="-0.00146973" iyy="1.28409992" iyz="-0.10356607" izz="1.02532812" />
            </inertial>
        </link>

    </xacro:macro>

</robot>
